<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
        <title>Dashboard</title>
    {% endblock title %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
</head>
<body>
{% block content %}
{% endblock content %}
</body>
<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
<script>
    $(document).ready(function(){
        var forms = document.getElementsByTagName('form');
        for (var i = 0; i < forms.length; i++) {
            forms[i].noValidate = true;
            forms[i].addEventListener('submit', function(event) {
                if (!event.target.checkValidity()) {
                    event.preventDefault();
                    $(this).find('.form-error-msg').remove();
                    $(this).prepend('<p class="form-error-msg" style="color:#cc1111; text-align:center;">' +
                            '<b>Please field form in correct format!</b><br>' +
                            '<b>Title:</b> max - 100 characters, required<br>' +
                            '<b>Message:</b> max - 500 characters, required' +
                            '</p>');
                    setTimeout(function(){$('.form-error-msg').hide('fast');},3000);
                }
            }, false);
        }
    });
</script>
</html>