{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    <title>Dashboard - Manage Push</title>
{% endblock title %}

{% block content %}
    <div class="logo">
        <img src="{% static 'img/logo-icon@3x.png' %}" alt="">
        <h1>REACH</h1>
    </div>
    <form action="{% url 'dashboard' %}" method="POST" class="push-form">
        {% csrf_token %}
        <input name="title" type="text" placeholder="Title" maxlength="100" required autofocus>
        <textarea name="text"  cols="45" rows="8" placeholder="Message" maxlength="500" required></textarea>
        <input type="submit" value="Send" class="main-btn">
        <a href="{% url 'logout_user' %}">Logout</a>
    </form>
{% endblock content %}